<?xml version="1.0"?>

<root name="integer_parameter_constraint_demo">
    <parameter name="param_0" type="integer" min="-5" max="10" distribution="u"/>
    <parameter name="param_1" type="integer" min="-5" max="10" distribution="u" nb_instances="5"/>

    <constraint name="constraint_demo"
                expressions="integer_parameter_constraint_demo\param_0[0] EQ integer_parameter_constraint_demo\param_1[4] + 2"/>
</root>
